<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>

    <form action="/api/oauth2/authorize" method="post">
      <input name="username" type="text">
      <input name="password" type="password">
      <div>
      <input type="submit" value="Login in">
      </div>
    </form>

  </body>
</html>
